<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DeltaCompressionDotNet" version="1.0.0" targetFramework="net452" userInstalled="true" />
  <package id="OctoPack" version="3.0.42" targetFramework="net452" userInstalled="true" />
  <package id="Splat" version="1.6.2" targetFramework="net452" userInstalled="true" />
  <package id="squirrel.windows" version="0.99.1.1" targetFramework="net452" userInstalled="true" />
</packages>